
The gane should remember the prigress in the cache and build on it slowly. Once the game has been passed it dosappears from the menu.

There will be thousands of cards which a child can start slowly and as they oass that step, that card will disappear. The new code asociated eith that state is given or displayed in simple words sych that people can remember thkusand idfferent states of different stages. That way it will be mike the most useful interacutve learning interface suring childrens years. I will use this app with bith my children to teach them many skills of life. You can do so o. Any topics and age on kufe kater on. 
There will be thousands of cards which a child can start slowly and as they oass that step, that card will disappear. The new code asociated eith that state is given or displayed in simple words sych that people can remember thkusand idfferent states of different stages. That way it will be mike the most useful interacutve learning interface suring childrens years. I will use this app with bith my children to teach them many skills of life. You can do so o. Any topics and age on kufe kater on. 


